:root {
  --primary-font: "Anybody", cursive;
  --secondary-font: "Shadows Into Light", cursive;
  --primary-color: #0dcaf0;
  --secondary-color: rgb(248, 178, 227);
}

div.hero {
  text-align: center;
  margin: 95px 75px 350px 75px;
  border: var(--secondary-color) solid 5px;
}

ul.navbar-nav {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: bolder;
}

.navbar-nav:hover {
  color: var(--secondary-color);
}

.buttons {
  text-align: center;
  margin: 30px;
}

h1.name.typed-out {
  display: inline-block;
  font-size: 90px;
  line-height: 1.4;
  font-family: "WindSong", cursive;
  color: var(--primary-color);
}

.typed-out {
  border-right: 2px solid var(--primary-color);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  max-width: max-content;
  animation: typing 2.5s steps(20, end) forwards, blinking 1.2s infinite;
  font-size: 50px;
  width: 0;
}

.project-title {
    text-align: center;
    font-size: 60px;
    font-family: var(--secondary-font);
    margin-top: 30px;
    color: var(--primary-color);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--primary-color);
  }
}

div.greeting,
h2.title {
  font-size: 35px;
  font-family: var(--secondary-font);
}

h4.description,
div.paragraph,
div.paragraph-two {
  font-size: 15px;
  font-family: var(--primary-font);
}

div.project-header {
    text-align: center;
    margin: 50px 0px 300px 0px;
}

h1.project-title {
  margin-bottom: 25px;
}

a.btn {
  font-family: var(--primary-font);
  font-size: 15px;
  margin: 0px 15px;
}
a.btn:hover {
  color: white;
  background: var(--secondary-color);
}

.btn.btn-info {
  color: white;
}

.btn.btn-info:hover {
  color: var(--primary-color);
  background: white;
  border: var(--secondary-color) solid 1px;
}

img.navbar-img {
  width: 50px;
  border: none;
  display: inline;
  margin: 0 auto;
  border-radius: 10px;
}

img {
  border: var(--secondary-color) solid 2px;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  width: 443px;
  padding: -20px;
}

h2.title.project {
  color: purple;
  font-weight: bolder;
}

a.project-link {
  text-decoration: none;
}

a.project-link:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

h2.title.project:hover {
  color: var(--secondary-color);
}

h2.title, h2.title.project {
  margin-top: 20px;
  display: flex;
  margin-left: -75px;
}


div.paragraph {
  padding: 50px 0px 50px 0px;
  display: flex;
  font-size: 15px;
  margin-left: -75px;
}


@media (max-width: 1025px), (max-height: 200px) {
  div.hero {
    text-align: center;
    margin: 20px 50px 100px 50px;
  }

  a.btn {
    display: none;
  }

  div.greeting {
    font-size: 35px;
  }

  h4.description {
    font-size: 20px;
  }
  h1.name.typed-out {
    font-size: 60px;
    white-space: normal;
    text-align: center;
    display: inline;
  }

  a.project-link, h2.project {
    text-align: center;
    margin: 0 auto;
    display: block;
  }


  h2.title, h2.title.project,
  div.paragraph {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 20px 0px 40px 0px;
  }

  div.paragraph {
    font-size: 20px;
    text-align: center;
    display: inline-block;
  }

  div.project-header {
    margin-bottom: 80px;
  }

  div.paragraph-two {
    font-size: 20px;
  }

  div.row {
    border: 3px solid var(--primary-color);
  }

  a.project-link-img {
    display: none;
  }

  a.mobile-size {
    display:contents;
    color: black;
  }

}
